!!!
%html{itemscope: true, itemtype: 'http://schema.org/WebPage'}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{name: "HandheldFriendly", content: "True"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Bold. More than just blogging.
    = stylesheet_link_tag 'bold_app_org', media: 'all'
    = bold_meta
    = yield :html_head

  %body#page-top{class: content.css_class, data: { spy: 'scroll', target: '.navbar-fixed-top' }}
    = bold_header

    %nav.navbar.navbar-fixed-top.navbar-custom{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type:'button', data: { toggle: 'collapse', target:'.navbar-main-collapse'}}
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll{href:'#page-top'}
            = site.logo_tag

        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            %li.hidden
              %a{href:'#page-top'}
            %li
              %a.page-scroll{href:'#features'} Features
            %li
              %a.page-scroll{href:'#download'} Download

    = yield

    %footer
      .container
        .row
          .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            %p.pull-left
              Created by
              %br/
              %a{href: "https://jkraemer.net/"} Jens Krämer
            %p.pull-right
              = t('.published_with')
              %br/
              = site.logo_tag

    = bold_footer
    = javascript_include_tag 'bold_app_org'



